@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Roboto+Flex:opsz@8..144&display=swap');
:root {
    --red: #BF2431;
    --black: #0D0D0D;
    --white: #F2F2F2;
    --roboto: 'Roboto Flex', sans-serif;
    --comforta: 'Comfortaa', cursive;
}

* {
    margin: 0;
    padding: 0;
}

@media (max-width: 1920px), (max-height: 1080px) {
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
}

input {
    visibility: hidden;
}

.container {
    max-width: 95%;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    font-family: var(--roboto);
    color: var(--white);
    text-transform: lowercase;
    letter-spacing: 0.06em;
    display: block;
    margin: 1.3rem 0;
    text-align: center;
}

.slider {
    width: 100%;
}

.image {
    height: 60vh;
}

.image .img {
    margin: 0 auto;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-position: center;
}
.img1 {
    background-image: url(1.jpg);
}
.img2 {
    background-image: url(2.jpg);
}
.img3 {
    background-image: url(3.jpg);
}
.img4 {
    background-image: url(4.jpg);
}
.img5 {
    background-image: url(5.jpg);
}
.img6 {
    background-image: url(6.jpg);
}
.img7 {
    background-image: url(7.jpg);
}
.img8 {
    background-image: url(8.jpg);
}

.all_slide {
    display: flex;
    transition: 1s ease;
    width: 800%;
}
.sub {
    color: var(--white);
    font-size: 1.5rem;
    font-family: var(--roboto);
    max-width: 50%;
    margin: 2rem 0 0 1rem;
}

#first:checked~.all_slide {
    transform: translateX(0%);
}
#first:checked~.labels #label1,
#second:checked~.labels #label2,
#third:checked~.labels #label3,
#fourth:checked~.labels #label4,
#fifth:checked~.labels #label5,
#sixth:checked~.labels #label6,
#seventh:checked~.labels #label7,
#eighth:checked~.labels #label8 {
    border: 0.3rem solid var(--red);
    background-color: transparent;
    width: 1.1rem;
    height: 1.1rem;
}
#first:checked~.labels #label1:hover,
#second:checked~.labels #label2:hover,
#third:checked~.labels #label3:hover,
#fourth:checked~.labels #label4:hover,
#fifth:checked~.labels #label5:hover,
#sixth:checked~.labels #label6:hover,
#seventh:checked~.labels #label7:hover,
#eighth:checked~.labels #label8:hover {
    border-color: var(--white);
}
#second:checked~.all_slide {
    transform: translateX(-12.5%);
}
#third:checked~.all_slide {
    transform: translateX(-25%);
}
#fourth:checked~.all_slide {
    transform: translateX(-37.5%);
}
#fifth:checked~.all_slide {
    transform: translateX(-50%);
}
#sixth:checked~.all_slide {
    transform: translateX(-62.5%);
}
#seventh:checked~.all_slide {
    transform: translateX(-75%);
}
#eighth:checked~.all_slide {
    transform: translateX(-87.5%);
}

.image {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.labels {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    height: 2rem;
    margin-top: 2rem;
    padding-right: 1rem;
    
}

label {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--red);
    cursor: pointer;
    transition: all 0.2s;
}

label:hover {
    background-color: var(--white);
}
}