@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Roboto+Flex:opsz@8..144&display=swap');
:root {
    --red: #BF2431;
    --black: #0D0D0D;
    --white: #F2F2F2;
    --roboto: 'Roboto Flex', sans-serif;
    --comforta: 'Comfortaa', cursive;
}

* {
    margin: 0;
    padding: 0;
}

@media (max-width: 1920px), (max-height: 1080px) {
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
}

input {
    visibility: hidden;
}

.container {
    max-width: 95%;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    font-family: var(--roboto);
    color: var(--white);
    text-transform: lowercase;
    letter-spacing: 0.06em;
    display: block;
    margin: 1.3rem 0;
    text-align: center;
}

.slider {
    width: 100%;
}

.image {
    height: 60vh;
    background-color: var(--white);
    padding: 0 14rem;
}
 #im2 {
    padding: 0 18rem;
}
#im3 {
    padding: 0 20rem;
}
#im4 {
    padding: 0 22rem;
}
#im5,
#im6 {
    padding: 0 24rem;
}
#im7, #im8 {
    padding: 0 26rem;
}

#im5 img,
#im8 img {
    margin: 0;
} 
.image img {
    display: block;
    margin: 0 auto;
    height: 100%;
}

.all_slide {
    display: flex;
    transition: 1s ease;
    width: 100%;
}
.sub {
    color: var(--white);
    font-size: 1.5rem;
    font-family: var(--roboto);
    margin: 2rem auto 0 -10rem;
}

#first:checked~.all_slide {
    transform: translateX(0%);
}
#second:checked~.all_slide {
    transform: translateX(-100%);
}
#third:checked~.all_slide {
    transform: translateX(-200%);
}
#fourth:checked~.all_slide {
    transform: translateX(-300%);
}
#fifth:checked~.all_slide {
    transform: translateX(-400%);
}
#sixth:checked~.all_slide {
    transform: translateX(-500%);
}
#seventh:checked~.all_slide {
    transform: translateX(-600%);
}
#eighth:checked~.all_slide {
    transform: translateX(-700%);
}

.image {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.labels {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    height: 2rem;
    padding-top: 2rem;
    padding-right: 3rem;
}

label {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--red);
    cursor: pointer;
}

label:hover {
    opacity: .7;
}
}